/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Life Savers', serif;
}

.page-flex {
    display: flex;
    justify-content: space-around;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.eight-ball-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2em;
    width: 525px;
}

.eight-ball-main {
    height: auto;
    width: 15em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.eight-ball-answer {
    display: none;
}

.eight-ball-form img {
    height: auto;
    width: 15em;
}

h1, 
.get-answer-button, 
.input-field {
    color: #2B4E80;
    text-align: center;
    margin: .3em;
    padding: 1em 0;
}

.get-answer-button {
    color: white;
    background-color: #2B4E80;
    border: none;
}

.get-answer-button-hover {
  color: #1C3455;
}

.div-clear-button {
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.eight-ball-form {
    display: flex;
    flex-direction: column;
    background-color: #E6ECF4;
}

.clear-button {
    background-color: #DE4841;
    color: white;
    width: 5em;
    height: 2em;
    border: none;
}

.get-answer-button .disabled { 
    color: #607AA0;
}

.clear-button .disabled {
    color: #D0CDCD;
}

