/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Life Savers', serif;
}

h1, 
.get-answer-button, 
.input-field {
    color: #2B4E80;
}

.get-answer-button-hover {
  color: #1C3455;
}

.eight-ball-form {
    display: flex;
    flex-direction: column;
    background-color: #E6ECF4;
}

.clear-button {
    color: #DE4841;
}

.get-answer-button .disabled { 
    color: #607AA0;
}

.clear-button .disabled {
    color: #D0CDCD;
}

